<div class="card">
  <h1 class="card-title">
    <%= @pet.name %></h1>
  </h1>
  <div class="card-body">
    <p>Found <%= @pet.found_days_ago %> days ago</p>
    <p>Address: <%= @pet.address %></p>
    <p>Species: <%= @pet.species %></p>
    <%= link_to 'Edit', edit_pet_path(@pet), class: 'btn btn-primary' %>
    <%= link_to 'Delete', pet_path(@pet), data: {turbo_method: 'delete', turbo_confirm: 'Are you sure?'}, class: 'btn btn-danger' %>

  </div>
</div>
<hr>
<%= link_to 'Back', pets_path %>
